<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="styles.scss" /> -->
</head>

<body>
  <div>
    <header><app-currency-rates [usdRate]="usdRate" [eurRate]="eurRate"></app-currency-rates></header>
    <div class="content">
      <app-currency-converter [usdRate]="usdRate" [eurRate]="eurRate"></app-currency-converter>
    </div>

  </div>
  <script src="runtime.js" defer></script>
  <script src="polyfills.js" defer></script>
  <script src="styles.js" defer></script>
  <script src="vendor.js" defer></script>
  <script src="main.js" defer></script>
</body>

</html>
