* {
    background: rgb(54, 100, 1);
}

.currency-converter {
    background: rgba(255, 255, 255, 0.277);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 15px;
    margin: auto;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;   

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: transparent;
    }

    h3{
        background-color: transparent;
        color: rgb(60, 60, 60);
        text-align: center;
        font-size: 22px;
        font-family: monospace;
        padding-bottom: 35px;
    }

    .content>div:first-child{
        margin-bottom: 60px;
    }

    .input-select {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: transparent;

        input {
            border: 1px solid rgb(60, 60, 60);
            color: rgb(60, 60, 60);
            font-size: 20px;
            font-family: monospace;
            border-radius: 5px;
            padding: 10px 20px;
            outline: none;
            background-color: rgba(177, 209, 163, 0.738);
            margin-right: 4px;
        }

        select {
            border: 1px solid rgb(60, 60, 60);
            width: 60px;
            color: rgb(39, 39, 39);
            border-radius: 5px;
            background-color: rgba(86, 122, 70, 0.911);
            text-align: center;
            font-size: 16px;
            font-family: monospace;
        }
    }
}

.currency-rates {
    padding: 20px 0;
    span {
        color: rgb(34, 34, 34);
        font-size: 20px;
        font-family: monospace;
        padding: 10px;
    }

    span:first-child{
        border-right: 2px solid rgb(34, 34, 34);
    }
}

